<div class="sidebar-header">
  <img
    [width]="profilePicSize()"
    [height]="profilePicSize()"
    src="sari_estudiosa.png"
    alt="" />
  <div class="header-text" [class.hide-header-text]="sideNavCollapsed()">
    <h2>SARI</h2>
    <p>{{ this.user()?.name }} {{ this.user()?.lastName }}</p>
  </div>
</div>
<mat-nav-list>
  @for (item of menuItems(); track item.route) {
    <a
      mat-list-item
      class="menu-item"
      [routerLink]="item.route"
      routerLinkActive
      routerLinkActive="active">
      <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
      @if (!sideNavCollapsed()) {
        <span matListItemTitle>{{ item.label }}</span>
      }
    </a>
  }
</mat-nav-list>
<mat-nav-list class="sidebar-footer">
  <a
    class="edit-profile"
    mat-list-item
    tabindex="0"
    role="button"
    (keydown.enter)="openProfile()"
    (click)="openProfile()"
    routerLinkActive
    routerLinkActive="active">
    <mat-icon matListItemIcon>account_circle</mat-icon>

    @if (!sideNavCollapsed()) {
      <span matListItemTitle>Editar perfil</span>
    }
  </a>
  <a
    mat-list-item
    class="logout"
    tabindex="0"
    role="button"
    (keydown.enter)="logout()"
    (click)="logout()"
    routerLinkActive
    routerLinkActive="active">
    <mat-icon matListItemIcon>logout</mat-icon>
    @if (!sideNavCollapsed()) {
      <span matListItemTitle>Salir</span>
    }
  </a>
</mat-nav-list>
