<div class="articles-page-container">
  <div class="main-content">
    <!-- <header>
        <input type="text" placeholder="Search systems..." />
      </header> -->
    <section class="system-overview">
      <div class="header-section">
        <h1>Tus artículos</h1>
        <div class="article-options">
          <button mat-fab (click)="createArticle()">Agregrar artículo</button>
          <button mat-fab (click)="extractFromPure()">Importar de PURE</button>
          <!-- <button mat-fab (click)="deleteLastOne()">Eliminar el último</button> -->
        </div>
      </div>
      <div class="cards">
        @if(loading$){
        <div class="spinner-container">
          <mat-spinner></mat-spinner>
          <h3>Cargando artículos...</h3>
        </div>
        }@else if (articles.length === 0) {
        <div class="empty-state">
          <mat-icon>article</mat-icon>
          <h3>No hay artículos disponibles</h3>
          <p>Agrega un artículo para comenzar a ver tus publicaciones.</p>
        </div>
        }@else { @for (article of articles; track article.id ) {
        <div class="card">
          @if(article.state === "Published") {
          <span class="badge published">Publicado</span>
          }@else if (article.state === 'sometido') {
          <span class="badge submitted">{{article.state}}</span>
          }@else if (article.state === 'escritura') {
          <span class="badge writing">{{article.state}}</span>
          }@else {
          <span class="badge accepted">{{article.state}}</span>
          }


          <h3>{{ article.title }}</h3>
          <ul>
            @for(author of article.authors;track author) {
            <li>
              <p>{{ author }}</p>
            </li>
            }
          </ul>

          <small>{{ article.date }}</small>

          @if(article.state === "Published") {

            @if(article.hyperlink === "No disponible") {
            <small>No disponible</small>
            }@else{
            <small
              ><a [href]="article.hyperlink" target="_blank">Enlace Doi</a></small
            >
            }
          }
        </div>
        } }
      </div>
    </section>
  </div>
</div>
