<div class="articles-page-container">
  <div class="main-content">
    <!-- <header>
        <input type="text" placeholder="Search systems..." />
      </header> -->
    <section class="system-overview">
      <div class="header-section">
        <h1>Tus artículos</h1>
        <div class="article-options">
          <button mat-fab >Agregrar artículo</button>
          <button mat-fab>Importar de PURE</button>
        </div>
      </div>
      <div class="cards">
        <div class="card">
          <h3>CPU Usage</h3>
          <p><strong>40%</strong></p>
          <small>3.8 GHz | 12 Cores</small>
        </div>
        <div class="card">
          <h3>Memory</h3>
          <p><strong>62%</strong></p>
          <small>16.4 GB / 24 GB</small>
        </div>
        <div class="card">
          <h3>Network</h3>
          <p><strong>90%</strong></p>
          <small>1.2 GB/s | 42ms</small>
        </div>
      </div>
    </section>
  </div>
</div>
