.articles-page-container {
    display: flex;
    min-height: 100dvh;
    width: 100%;
    /* background-color: red; */
}

.articles-page-container {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white;
    /* background-color: var(--mat-warn); */
    color: white;
    display: flex;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
}

.sysmtem-overview {
    min-height: 100dvh;
    height: 100%;
    overflow-y: auto;
}

.system-overview h1 {
    margin-top: 20px;
    color: var(--mat-text);
}
.header-section {
    display: flex;
    justify-content: space-between;
    /* align-items: center;  */
    margin-bottom: 20px;
    width: 100%;

}
.article-options  {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-right: 60px; */
    > button {
        background-color: var(--mat-rojo-institucional);
        color: white;
        margin-right: 10px;
        width: 45%;
     }
}
.info-stock {

    display: grid;
    place-content: center;
}

.all-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.year-cards{
    display: flex;
    /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
    justify-content: left;
    flex-wrap: wrap;
    gap: 10px;
    /* align-items: stretch; */

}
.card {
    position: relative;
    background-color: var(--mat-gris-claro);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1.2);
    padding: 15px;
    border-radius: 6px;
    /* border: var(--mat-negro-intenso) 0.2px solid; */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20%;
    min-height: fit-content;
    > ul {
        text-align: left;
        color: #616161;
    }
}

.card .badge {
    text-transform: capitalize;
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 20px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}
.writing {
    background-color: #f44336;
}
.published {
    background-color: #4caf50;
}
.submitted {
    background-color: #2196f3;
}
.accepted {
    background-color: #ff9800;
}

.article-item-options{
    position: absolute;
    bottom: 1px;
    right: 5px;
    display: flex;
    gap: 0;
}

.card h3 {
    margin-top: 25px;
    color: #060606;
    word-wrap: break-word;
    font-size: medium;
}

.card p {
    color: #616161;
    font-size: 10px;
    font-weight: bold;
    text-transform: capitalize;

}

.card small {
    margin-top: 5px;
    margin-bottom: 20px;
    color: #36383a;
    word-wrap: break-word;
    font-size: 8px;

    > a {
        color: #4c4e51;
        text-decoration: none;
    }
}
.empty-state {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    color: #616161;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 20px;
}



.spinner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    > h3 {
        color: #616161;
        font-size: 1.5rem;
        font-weight: bold;
        margin-top: 20px;
    }
     > mat-spinner {
        display: flex;
        justify-content: center;
    }
}

.year-divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 2rem 0;
    > span {
        font-weight: bold;
        color: var(--mat-negro-intenso);
    }
  }
  
  .year-divider::before,
  .year-divider::after {
    content: '';
    flex: 1;
    border-bottom: 2px solid #ccc;
  }
  
  .year-divider:not(:empty)::before {
    margin-right: .3em;
  }
  .year-divider:not(:empty)::after {
    margin-left: .3em;
  }
  