.articles-page-container {
    display: flex;
    min-height: 100dvh;
    width: 100%;
    /* background-color: red; */
}

.articles-page-container {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white;
    /* background-color: var(--mat-warn); */
    color: white;
    display: flex;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
}

/* header input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #1e293b;
    color: white;
} */

.sysmtem-overview {
    min-height: 100dvh;
    height: 100%;
    overflow-y: auto;
}

.system-overview h1 {
    margin-top: 20px;
    color: var(--mat-text);
}
.header-section {
    display: flex;
    justify-content: space-between;
    /* align-items: center;  */
    margin-bottom: 20px;
    width: 100%;

}
.article-options  {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-right: 60px; */
    > button {
        background-color: var(--mat-warn);
        margin-right: 10px;
        width: 45%;
     }
}

.cards {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    align-items: stretch;
}

.card {
    background-color: #d4bc92;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.card h3 {
    color: #060606;
}

.card p {
    color: #616161;
    font-size: 10px;
    font-weight: bold;
    text-transform: capitalize;

}

.card small {
    color: #36383a;
    word-wrap: break-word;
    font-size: 8px;

    > a {
        color: #4c4e51;
        text-decoration: none;
    }
}
