<div class="articles-page-container">
  <div class="main-content">
    <!-- <header>
        <input type="text" placeholder="Search systems..." />
      </header> -->
    <section class="system-overview">
      <div class="header-section">
        <h1>Tus artículos</h1>
        <div class="article-options">
          <button mat-fab >Agregrar artículo</button>
          <button mat-fab (click)="extractFromPure()">Importar de PURE</button>
        </div>
      </div>
      <div class="cards">
        @for (article of articles; track trackByIndex ) {
          <div class="card">
            <h3>{{article.title}}</h3>
            <p><strong>{{formatAuthors(article.authors)}}</strong></p>
            <small>{{article.date}}</small>
            @if(article.hyperlink === "No disponible") {
              <small>No disponible</small>
            }@else{
              <small><a [href]="article.hyperlink" target="_blank" >Enlace Doi</a></small>
            }
            
          </div>
        }
      </div>
    </section>
  </div>
</div>
