<div class="articles-page-container">
  <div class="header-section">
    <h1>Tus artículos</h1>
    <div class="article-options">
      <button mat-fab (click)="createArticle()" [disabled]="loading$">
        Agregrar artículo
      </button>
      <button mat-fab (click)="extractArticleFromPure()" [disabled]="loading$">
        Importar de PURE
      </button>
    </div>
  </div>
  <div class="all-cards">
    @if (loading$) {
      <div class="loader-container">
        <div class="loader"></div>
        <h3>Cargando artículos, puede tardar unos minutos...</h3>
      </div>
    } @else {
      @for (group of groupedArticles; track $index) {
        <div class="year-divider">
          <span>Artículos del {{ group.year }}</span>
        </div>
        <app-article-list [articles]="group.articles" />
      } @empty {
        <div class="empty-state">
          <mat-icon>article</mat-icon>
          <h3>No hay artículos disponibles</h3>
          <p>Agrega un artículo para comenzar a ver tus publicaciones.</p>
        </div>
      }
    }
  </div>
</div>
