.card-loader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10em
}

.year-cards {
    width: 100%;
    display: grid;
    place-content: center;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin: 0;
    flex-wrap: wrap;
}

/* .card-placeholder{
    width: 100%;
    height: 100%;
} */