<mat-toolbar class="mat-elevator-z3" style="background-color: red;">
    <button mat-icon-button (click)="collapsed.set(!collapsed())">
      <mat-icon>menu</mat-icon>
    </button>
    <!-- <h3>Sistema de Automatización de Reportes de Investigación</h3> -->
  </mat-toolbar>
  <mat-sidenav-container>
      <mat-sidenav opened mode="side" [style.width]="sidenavWidth()">
          <side-bar [collapsed]="collapsed()" />
      </mat-sidenav>
      <mat-sidenav-content [style.margin-left]="sidenavWidth()">
        @defer () {
          <router-outlet/>
        }
        <!-- @loading(minimum 0.2s) {
          <div class="spinner-container">
            <mat-spinner mode="indeterminate" ></mat-spinner>
          </div>
        } -->
    </mat-sidenav-content>
</mat-sidenav-container>
