.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--mat-gris-claro);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1.2);
    padding: 1em;
    height: 20em;
    justify-content: space-between;
    text-align: center;
    position: relative;
    color: #616161;
    font-size: 1rem;
    font-weight: bold;
    border: 2px solid var(--mat-gris-claro);
}

.card h3 {

    font-size: 1rem;
    font-weight: bold;
    color: #000;
    padding: 0;
}

.card ul {
    /* list-style:disc; */
    text-align: left;
    font-size: 0.5rem;
    padding: 0;
    margin: 0;
}
.card .badge{
    text-transform: capitalize;
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 20px;
}
.finished {
    background-color: #4caf50;
}
.development {
    background-color: #f44336;
}
.submitted {
    background-color: #2196f3;
}
.accepted {
    background-color: #ff9800;
}

.project-item-options {

    position: absolute;
    bottom: 1px;
    right: 5px;
    display: flex;
    gap: 5px; 
    > button {
        margin: 0;
        padding: 0;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
}