<div mat-dialog-tittle class="dialog-header">
  <h1>Editando artículo</h1>
</div>
@if (article.state === 'publicado') {
  <form
    action=""
    [formGroup]="addHyperlinkForm"
    (ngSubmit)="onSubmitHyperlink()">
    <div mat-dialog-content class="content">
      <div class="row">
        <mat-form-field class="full-width" appearence="outline">
          <mat-label>Agregar hyperlink</mat-label>
          <input
            matInput
            placeholder="Ingresa un enlace"
            formControlName="hyperlink"
            required />
        </mat-form-field>
      </div>
    </div>
    <div mat-dialog-actions class="dialog-actions">
      <button
        mat-button
        type="submit"
        color="primary"
        [disabled]="this.addHyperlinkForm.invalid">
        @if (loading$) {
          Agregando...
        } @else {
          Agregar hyperlink
        }
      </button>
    </div>
  </form>
} @else {
  <form action="" [formGroup]="editArticleForm" (ngSubmit)="onSubmitEdited()">
    <div mat-dialog-content class="content">
      <div class="row">
        <mat-form-field class="full-width" appearence="outline">
          <mat-label>Nombre nuevo</mat-label>
          <input
            matInput
            placeholder="Ingresa un nuevo nombre"
            formControlName="title"
            required />
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="full-width" appearence="outline">
          <mat-label>Otros autores</mat-label>
          <input
            matInput
            placeholder="No tiene que digitar su nombre"
            formControlName="authors" />
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Estado del artículo</mat-label>
          <mat-select formControlName="state" required>
            <mat-option value="escritura">Escritura</mat-option>
            <mat-option value="sometido">Sometido</mat-option>
            <mat-option value="aceptado">Aceptado</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      @let articleState = this.editArticleForm.get('state')?.value;
      @if (articleState === 'sometido' || articleState === 'aceptado') {
        <div class="row file-evidence full-width">
          @if (!fileSelected) {
            <mat-icon color="primary">description</mat-icon>
            <mat-label>Adjuntar evidencia</mat-label>
          } @else {
            <mat-icon>check</mat-icon>
            <mat-label>¡Archivo Adjuntado!</mat-label>
          }
          <input
            type="file"
            placeholder="Ingresa un PDF"
            accept=".pdf"
            (change)="onFileSelected($event)"
            required />
        </div>
      }
      <div class="row">
        <mat-form-field class="full-width" appearence="outline">
          <mat-label>Fecha de inicio del artículo</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="date" />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div mat-dialog-actions class="dialog-actions">
      <button
        type="submit"
        mat-button
        color="primary"
        [disabled]="this.editArticleForm.invalid">
        @if (loading$) {
          Editando...
        } @else {
          Editar
        }
      </button>
    </div>
  </form>
}
