<mat-nav-list>
  <mat-list-item>Submissions</mat-list-item>
  <mat-list-item>Catalog</mat-list-item>
  <mat-list-item>DOIs</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>Press</mat-list-item>
  <mat-list-item>Website</mat-list-item>
  <mat-list-item>Workflow</mat-list-item>
  <mat-list-item>Distribution</mat-list-item>
  <mat-list-item>Users &amp; Roles</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>Monographs</mat-list-item>
  <mat-list-item>Editorial Activity</mat-list-item>
  <mat-list-item>Users</mat-list-item>
  <mat-list-item>Reports</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>Administration</mat-list-item>
</mat-nav-list>
