<mat-toolbar class="mat-elevator-z3">
  <button mat-icon-button (click)="collapsed.set(!collapsed())">
    <mat-icon>menu</mat-icon>
  </button>
  <!-- <h3>Sistema de Automatización de Reportes de Investigación</h3> -->
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav opened mode="side" [style.width]="sidenavWidth()">
    <app-side-bar [collapsed]="collapsed()" />
  </mat-sidenav>
  <mat-sidenav-content [style.margin-left]="sidenavWidth()">
    @defer {
      <router-outlet />
    }
  </mat-sidenav-content>
</mat-sidenav-container>
