.card h3 {
    margin-top: 25px;
    color: #060606;
    word-wrap: break-word;
    font-size: medium;
}

.card p {
    color: #616161;
    font-size: 10px;
    font-weight: bold;
    text-transform: capitalize;
}
.card small {
    margin-top: 5px;
    margin-bottom: 20px;
    color: #36383a;
    word-wrap: break-word;
    font-size: 8px;

    >a {
        color: #4c4e51;
        text-decoration: none;
    }
}
.card {
    view-timeline-name: --reveal;
    animation: show;
    animation-fill-mode: both;
    animation-timeline: --reveal;
    animation-range: entry 5% cover 20%;
}
.card {
    position: relative;
    background-color: var(--mat-gris-claro);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1.2);
    padding: 7%;
    border-radius: 2px;
    max-width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 25em;

    >ul {
        text-align: left;
        color: #616161;
    }
}
.card .badge {
    text-transform: capitalize;
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 20px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.writing {
    background-color: #f44336;
}

.published {
    background-color: #4caf50;
}

.submitted {
    background-color: #2196f3;
}

.accepted {
    background-color: #ff9800;
}


.article-item-options {
    position: absolute;
    bottom: 1px;
    right: 5px;
    display: flex;
    gap: 0;
}