<div mat-dialog-tittle class="dialog-header">
  <h1>Artículo nuevo</h1>
</div>
<form action="" [formGroup]="articleForm" (ngSubmit)="onSubmit()">
  <div mat-dialog-content class="content">
    <div class="row">
      <mat-form-field class="full-width" appearence="outline">
        <mat-label>Nombre del artículo</mat-label>
        <input
          matInput
          placeholder="Nombre del artículo"
          formControlName="title"
          required />
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="full-width" appearence="outline">
        <mat-label>Otros autores</mat-label>
        <input
          matInput
          placeholder="No tiene que digitar su nombre"
          formControlName="authors" />
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Estado del artículo</mat-label>
        <mat-select formControlName="state" required>
          <mat-option value="escritura">Escritura</mat-option>
          <mat-option value="sometido">Sometido</mat-option>
          <mat-option value="aceptado">Aceptado</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="full-width" appearence="outline">
        <mat-label>Fecha de inicio del artículo</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date" />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
  </div>

  <div mat-dialog-actions class="dialog-actions">
    <button
      mat-button
      color="primary"
      [disabled]="articleForm.invalid"
      type="submit">
      Crear
    </button>
  </div>
</form>
