/* You can add global styles to this file, and also import other style files */
:root {
  --mat-primary: #7D0A0A; /*  */
  --mat-accent: #BF3131;  /*  */
  --mat-warn: #EAD196;    /*  */
  --mat-text: #000000;   /*  */
  --mat-rojo-institucional: #B40019; /*  */
  --mat-amarillo-institucional: #FFD400; /*  */
  --mat-gris-claro: #c5c2c2; /*  */
  --mat-negro-intenso: #1E1E1E; 
  --mat-nav-var: #181727;


}

.mat-mdc-button {
  --mdc-theme-primary: var(--mat-primary);
  --mdc-theme-secondary: var(--mat-accent);
  --mdc-theme-error: var(--mat-warn);
  border-radius: 0px;;
}

body{
    margin: 0;
    
    /* height: 100vh; */
    font-family:sans-serif;
}

html, body { 
  height: 100%;
  background: #000000 !important;

}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
